@model CityDetailsWrapperModel

<div class="box w-30 @Model.CityWeather!.BackgroundColorByTemperature">
    <div class="flex-borderless">
        <div class="w-50">
            <h2>@Model.CityWeather.CityName</h2>
            <h4 class="text-dark-grey">@Model.CityWeather.DateAndTime.ToString("hh:mm tt")</h4>
            <a href="~/weather/@Model.CityWeather.CityUniqueCode" class="margin-top">Details</a>
        </div>
        <div class="w-50 border-left">
            <h1 class="margin-left">@Model.CityWeather.TemperatureFahrenheit <sup class="text-grey">&#8457</sup></h1>
        </div>
        @if (@Model.isDetailsPage == 1)
        {
            <div class="w-100 text-center">
                <a href="/">Back to Weather Home Page</a>
            </div>
        }
    </div>
</div>
